h1 {
    text-align: center;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
}

h4 {
    text-align: center;
    font-size: 2em;
}

.user-options {
    display: flex;
    justify-content: space-around; 
}

.user-options button {
    font-size: 1.5em;
    padding: 1%;
}

.user-choice, 
.computer-choice {
    text-transform: capitalize;
}

.choices-display {
    display: flex;
    justify-content: space-around;
}

.round-result-explanation {
    margin: 0;
}

button {
    display: block;
    margin: 0 auto;
    font-size: 1.3em;
    font-weight: 900;
    margin-top: 5vh;
}
